[D-BUS Service]
Name=org.arpsentinel
Exec="~/.local/share/cinnamon/applets/arpsentinel@arpsentinel-applet.github.io/bin/arpalert-service.py"
User=arpalert
